#logoutNav {
  font-weight: bold;
  font-size: larger;
}

.active {
  font-weight: bold;
}

.image{
    width: 60%;
    margin: auto;
    display: block;
   
}

@media only screen and (min-width: 600px) {
 canvas {
  width:500px !important;
  height:300px !important;
  }
}